
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: o auto;
    position: relative;
    overflow: hidden;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite;
}

@keyframese pipe-animation {
    form {
        right: 0;
    }
    
}

to{
    right: 100%;
}